@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer @ViewData["Developer"].</p>
<adress>
    <strong>
        <a href="https://github.com/Ron-69/TestSeleniumWebApp.git">DesenvolvedorWeb.com.br</a>
    </strong>
</adress>